@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

@font-face {
	font-family: 'Amsterdam';
	src: url('/amsterdam.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	src: url('../public/Roboto.ttf') format('truetype');
	font-weight: 500;
}

:root {
	--primary-color: #ffa54b;
	--secondary-color: #ff25f8;
}

.large-amsterdam {
	font-family: 'Amsterdam';
	font-size: 150px;
}

.gradient-text {
	background-image: linear-gradient(
		to bottom right,
		var(--primary-color),
		var(--secondary-color)
	);
	background-clip: text;
	color: transparent;
	/* this must be done to prevent the text from being cut off by the background clip */
	padding-bottom: 1em;
	margin-bottom: -1em;
	padding-top: 1em;
	margin-top: -1em;
}

#header-content > h2 {
	font-family: 'Lato';
	font-size: 100px;
	font-weight: 400;
	text-align: right;
	color: white;
}

#left-border-text {
	color: white;
	width: 400px;
	font-family: Lato;
	font-weight: 400;
	font-size: 20px;
	border-left: 2px solid rgba(255, 255, 255, 0.5);
	padding-left: 10px;
	position: relative;
}

#blob-container {
	position: absolute;
	top: 0px;
	left: -5px;
	bottom: 0px;
	height: 100%;
	display: flex;
	place-items: center;
}

#blob {
	width: 8px;
	height: 12px;
	background-color: white;
	border-radius: 9999px;
}

nav > ul > li > a {
	font-family: Roboto;
	font-size: 20px;
}

.purple-bg {
	background-color: #ff2bf1;

	color: white;
}

.button {
	border: none;
	text-transform: uppercase;
	font-family: Lato;
	font-size: 20px;
	border-radius: 9999px;
	height: 50px;
	display: flex;
	place-items: center;
	padding: 1.4em;
}

.white-bg {
	background-color: white;
	color: black;
}

#header-background {
	z-index: -1;
	position: absolute;
	background-image: url('/img1.png');
	background-size: cover;
	height: 100%;
	width: 100%;
	filter: brightness(40%);
}

header {
	position: relative;
	width: 100%;
}

#header-content {
	padding: 2em 20em 4em 20em;
}

body {
	margin: 0px;
	background-color: #232323;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav-links {
	display: flex;
	margin-left: auto;
	gap: 30px;
	align-items: center;
	height: 100px;
}

a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

#bordered-text-with-circle {
	position: relative;
}

#bordered-text-with-circle > div {
	position: absolute;
}

nav {
	display: flex;
}

#partner-text {
	right: -0.6em;
	bottom: 0.1em;
}

#about-section {
	background-image: linear-gradient(
		to bottom right,
		var(--primary-color),
		var(--secondary-color)
	);
	display: flex;
	position: relative;
	padding: 5em;
}

.outlined-text {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-family: Lato;
	font-size: 150px;
	color: white;
	display: flex;
	justify-content: center;
	height: 100%;
	padding-left: 10%;
	text-transform: uppercase;
	z-index: 2;
	font-weight: 800;
}

#about-text {
	display: flex;
	flex-direction: column;
	color: white;
	font-family: Lato;
	font-size: 25px;
	padding-top: 5%;
	padding-right: 20%;

	align-items: center;
}

#about-text > button {
	margin-top: 3em;
}
.left-margin {
	margin-right: auto;
}

#about-text-2 {
	padding-left: 3em;
}

#about-image {
	position: absolute;
	left: 50%;
	bottom: 0px;
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);

	width: 1200px;
	height: auto;
	position: absolute;
	z-index: 1;
}

#provide-section {
	display: flex;
	flex-direction: column;
	padding-left: 10em;
	padding-right: 10em;
	gap: 5em;
	padding-top: 400px;
	padding-bottom: 10em;
}

#provide-section > h1 {
	color: white;
	font-family: Lato;
	font-size: 130px;
	font-weight: 400;
	margin-left: auto;
}

.provide-section-card {
	color: white;
	font-family: Lato;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	place-items: center;
	gap: 5em;
	align-items: center;
	justify-content: center;
}

.provide-section-card-text {
	display: flex;
	flex-direction: column;
	padding-left: 10em;
}

.provide-section-card > img {
	width: 115%;
	height: auto;
	max-height: 500px;
	object-fit: cover;
}

#contact-button {
	margin-left: auto;
	margin-right: 15em;
}

.provide-section-card-text > h2 {
	font-size: 60px;
	font-weight: 400;
	display: inline-block;
	margin: 0;
}

.provide-section-card-text > p {
	width: 70%;
	font-size: 25px;
	color: rgba(255, 255, 255, 0.75);
}

#partner-section {
	height: 600px;

	overflow: hidden;
}

.skewed-white-background {
	background-color: white;
	transform: skewY(-0.05rad);
}

#contact-info > h2 {
	font-family: Lato;
	font-size: 60px;
	font-weight: 400;
	margin-bottom: 0;
}

#contact-info > p {
	font-family: Lato;
	font-size: 25px;
	max-width: 500px;
	color: rgba(45, 45, 45, 0.75);
}

.gradient-underline-in {
	position: relative;
	display: inline-block;
}

.gradient-underline-in::before {
	z-index: -1;
	bottom: 0.1em;
	left: 0;
	height: 20px;
	width: 100%;
	content: '';
	background-image: linear-gradient(
		to bottom right,
		var(--primary-color),
		var(--secondary-color)
	);

	position: absolute;
}

.gradient-underline {
	display: inline-block;
	border-image: linear-gradient(
			to right,
			var(--primary-color),
			var(--secondary-color)
		)
		1;
	padding-bottom: 0.05em;
	border-image-width: 0px 0px 6px 0px;
	border-bottom: solid;
}

.text-right {
	text-align: right;
}

.big-uppercase {
	text-transform: uppercase;
	font-size: 100px;
	font-weight: extra-bold;
}

#partner-section-content {
	padding-left: 12em;
	padding-top: 5em;
	transform: skewY(0.05rad);
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	height: 100%;
}

#image-grid {
	display: grid;

	grid-template-columns: auto auto;
	gap: 5px;
}

#image-grid > img {
	object-fit: cover;
}
.test {
	width: 450px;
	height: 450px;
	background-color: red;
}

#why-section {
	padding-top: 5em;
	padding-right: 20em;
	padding-left: 20em;
	padding-bottom: 5em;
}

#why-section > h2 {
	font-family: Lato;
	font-size: 80px;
	font-weight: 400;
	color: white;
	float: right;
}

#why-information {
	display: flex;
	width: 100%;
}

#why-information > img {
	object-fit: cover;
	width: 600px;
	height: 400px;
	margin-left: auto;
}

#why-information-text > div > h3 {
	color: white;
	font-family: Lato;
	font-size: 25px;
	font-weight: 400;
}

#why-information-text > div > p {
	color: gray;
	font-family: Lato;
	max-width: 400px;
}

#faq-content {
	transform: skewY(0.05rad);
	padding-top: 5em;
	padding-bottom: 5em;
	padding-left: 20em;
	padding-right: 20em;
	font-family: Lato;
}

#faq-section {
	display: grid;
	place-items: center;
}

#faq-content > h2 {
	margin-bottom: 2em;
	font-size: 3em;
	font-weight: 400;
}

.faq-box {
	border-top: 1px solid grey;

	display: flex;

	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-right: 0.5em;
	gap: 4em;
}

.faq-box > svg {
	margin-left: auto;
	width: 25px;
	height: 25px;
}

.faq-box > h3 {
	margin: 0px;
	font-weight: 400;
}
