@font-face {
	font-family: 'Amsterdam';
	src: url('../public/amsterdam.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	src: url('../public/lato.ttf') format('truetype');
	font-weight: bold;
}

.large-amsterdam {
	font-family: 'Amsterdam';
	font-size: 100px;
}

.gradient-text {
	background-image: linear-gradient(60deg, #e21143, #ffb03a);
	background-clip: text;
	color: transparent;
	/* this must be done to prevent the text from being cut off by the background clip */
	padding-bottom: 1em;
	margin-bottom: -1em;
	padding-top: 1em;
	margin-top: -1em;
}

#header-content > h2 {
	font-family: 'Lato';
	font-size: 100px;
	text-align: right;
	color: white;
}

#header-content > p {
	color: white;
	width: 400px;
	font-family: Lato;
	font-size: 20px;
	border-left: 2px solid white;
	padding-left: 10px;
}

nav > ul > li {
	font-family: Lato;
	font-size: 20px;
}

#partner-up-button {
	background-color: #e04cd9;
	border: none;
	font-family: Lato;
	font-size: 20px;
	border-radius: 25px;
	width: 200px;
	height: 40px;
	color: white;
}

#header-background {
	z-index: -1;
	position: absolute;
	background-image: url('../public/img1.png');
	background-size: cover;
	height: 100%;
	width: 100%;
	filter: brightness(50%);
}

header {
	position: relative;
	width: 100vw;
}

#header-content {
	padding: 4em 20em 4em 20em;
}

body {
	margin: 0px;
	background-color: black;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav-links {
	display: flex;
	margin-left: auto;
	gap: 30px;
	align-items: center;
	height: 100px;
}

a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

nav {
	display: flex;
}

#about-section {
	background-image: linear-gradient(to left, #800080, orange);
	display: flex;
	position: relative;
	padding: 5em;
}

.outlined-text {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-family: Lato;
	font-size: 150px;
	color: white;
	display: flex;
	justify-content: center;
	height: 100%;
	padding-left: 10%;
	text-transform: uppercase;
	z-index: 2;
}

#about-text {
	display: flex;
	flex-direction: column;
	color: white;
	font-family: Lato;
	font-size: 25px;
	padding-top: 5%;
	padding-right: 20%;
	align-items: center;
}

#about-text > button {
	background-color: white;
	color: black;

	border-radius: 25px;
	border: none;
	width: 200px;
	height: 50px;
	text-transform: uppercase;
	font-family: Lato;

	margin-right: auto;
}

#about-text-2 {
	padding-left: 3em;
}

#about-image {
	position: absolute;
	left: 50%;
	bottom: 0px;
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
	width: 60%;
	position: absolute;
	z-index: 1;
}

#provide-section {
	display: flex;
	flex-direction: column;
	padding: 10%;
	gap: 5%;
	padding-top: 400px;
}

#provide-section > h1 {
	color: white;
	text-align: right;
	font-family: Lato;
	font-size: 50px;
	padding-right: 10%;
}

.provide-section-card {
	color: white;
	font-family: Lato;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5%;
}

.provide-section-card-text {
	display: flex;
	flex-direction: column;
}

.provide-section-card > img {
	width: 100%;
	height: 100%;
}
.provide-section-card-text > h2 {
	font-size: 40px;
	display: inline-block;
	max-width: min-content;
}

.provide-section-card-text > p {
	width: 70%;
	font-size: 20px;
}

#partner-section {
	height: 600px;
	background-color: white;

	transform: skewY(-0.05rad);

	overflow: hidden;
}

#partner-section-content {
	padding-left: 8em;
	padding-top: 5em;
	transform: skewY(0.05rad);
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	height: 100%;
}

#image-grid {
	display: grid;

	grid-template-columns: auto auto;
	gap: 5px;
}

.test {
	width: 450px;
	height: 450px;
	background-color: red;
}
